# Default values for debug-shell.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
    tag: 1.20.0

ingress:
    issuer: letsencrypt-staging
    hostname: debug-shell.{{ requiredEnv "DOMAIN_ZONE" }}
